<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>boilerplate</title>
    <link rel="stylesheet" href="styles/element-ui.css">
  </head>
  <body style="width: 300px;">
    <div id="root">
        <div v-if="!runners.length" style="text-align: center;">
            <i class="el-icon-takeaway-box" style="font-size: 64px; color: #999; font-weight: 100;"></i>
            <p style="color: #666">配置为空，请前往<a target="_blank" :href="options">配置页</a>增加配置</p>
        </div>
        <el-row v-else=>
            <el-col style="margin-bottom: 10px;" :span="24" v-for="runner in runners">
                <el-card shadow="hover">
                    <a target="_blank" :href="runner.page">{{runner.title}}</a>
                    <el-switch
                        style="float: right;"
                        :value="runner.status"
                        @change="switchStatus(runner)"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                    >
                    </el-switch>
                </el-card>
            </el-col>
        </el-row>
        <a target="_blank" :href="options">配置页</a>
    </div>
    <script src="./popup-entry.js"></script>
  </body>
</html>
